<html>
<head>
	<title></title>
</head>
<body>

	<div class='erros'>
	     <%if(errosValidacao){%>
	        <ul>
	            <%for(var i=0;i<errosValidacao.length;i++){%>
	                <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
	            <%}%>
	        </ul>
	     <%}%> 
	</div>	


	<form action="/produtos/salva" method="post">

		<div>
			<label for="titulo">Titulo</label>
			<input name="titulo" type="text" id="titulo" value="<%=produto.titulo%>"  placeholder="coloque o titulo"/> 
		</div>
		<div>
			<label for="preco">Preço</label>
			<input name="preco" type="text" id="preco" value="<%=produto.preco%>"  placeholder="10.0"/> 
		</div>

		<div>
			<label for="descricao">Descrição</label>
		
			<textarea name="descricao" rows="10" cols="50" id="descricao"  placeholder="coloque uma descrição" ><%=produto.descricao%></textarea>
		</div>		

		<input type="submit" value="gravar" />		
	</form>

	<div>
		<button id="btn-chamar-api">Chamar api</button>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>	

	<script type="text/javascript">

	$( "#btn-chamar-api" ).click(function() {
	  alert( "Handler for .click() called." );
	    console.log('componentWillMount');
	    $.ajax({
	        url : 'http://localhost:8000/api/autores',
	        method : 'get',
	        type: 'GET',
	        dataType: 'json',


	        success : function(result){
	          console.log('sucesso');
	          console.log(result);
	          

	        }.bind(this),
	        error :function(result){

	          console.log('ocorreu um erro ao realizar o ajax');
	          console.log(result);

	        }
	    });

	});	



	</script>

</body>
</html>